
{% extends 'blog/base.html' %}
{%block content%}
    <div class="content container">
    <div class="row">
        <div class="col-md-8">
            {%if user.is_authenticated %}
            Hi {{user.username}}!
            <p><a href="{% url 'logout' %}">logout</a></p>
            {% for post in posts %}
                <div class="post">

                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    <div class="date">
                        <p>published: {{ post.published_date }}</p>
                    </div>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
            {%else%}
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">login</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
